.keypad {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    max-width: 400px;
    margin: auto; 

    //width: 400px;
    //height: 400px;

    margin: 0 auto;

    background-color: #cdc1b5;
    border: 6px solid #bbada0;    
}

.key {
    padding: 20px;
    background-color: #ccc;
    text-align: center;
    font-size: 18px;
    border: 1px solid #aaa;
    cursor: pointer;
}

.black-screen {
    width: 600px; /* Adjust the width */
    height: 150px; /* Adjust the height */
    background-color: black;
    color: white;
    margin: 20px auto;
    padding: 20px; /* Adjust the padding */
    font-size: 10px; /* Adjust the font size */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Solid border */
hr.solid {
  border-top: 3px solid #bbb;
}
